<html>
  <head>
    <title>Entrevista técnica desarrollo</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
  </head>

  <body>
    <h3>Formulario</h3>
    <form name="magic-words-form" id="magic-words-form" method="post" action="/count_magic_words">
      <label for="textinput">Texto:</label>
      <input type="text" name="textinput" id="textinput" />
      <button type="submit" name="Verificar">Verificar</button>
    </form>
      <p id="total-magic-words">
      </p>
  </body>

</html>
